<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/A_to_Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello every one")
print("my name is ashish kumar")
print("i live in chandigarh")

hello every one
my name is ashish kumar
i live in chandigarh

In [ ]:
#  biodata #
name=input("entet the name:  ")
age=int(input("enter the age:  "))
school_name=input("enter school name:  ")
father_name=input("enter father name:  ")
mother_name=input("enter mother name:  ")

entet the name:  ashish
enter the age:  16
enter school name:  gmsss
enter father name:  ramesh
enter mother name:  bindu

In [ ]:
# restaurant billing system #
print("# billing system #")
first_item_name=input("enter first item name:  ")
first_item_quantity=int(input("enter first item quantity:  "))
first_item_price=int(input("enter first item price:  "))
first_item_discount=int(input("enter first item discount:  "))
second_item_name=input("enter second item name:  ")
second_item_quantity=int(input("enter second item quantity:  "))
second_item_price=int(input("enter second item price:  "))
second_item_discount=int(input("enter second item discount:  "))
third_item_name=input("enter third item name:  ")
third_item_quantity=int(input("enter third item quantity:  "))
third_item_price=int(input("enter third item price:  "))
third_item_discount=int(input("enter third item discount:  "))
fourth_item_name=input("enter fourth item name:  ")
fourth_item_quantity=int(input("enter fourth item quantity:  "))
fourth_item_price=int(input("enter fourth item price:  "))
fourth_item_discount=int(input("enter fourth item discount:  "))
total_amount = first_item_price*first_item_quantity+second_item_price*second_item_quantity+third_item_price*third_item_quantity+fourth_item_price*fourth_item_quantity
discount_1 =first_item_discount*first_item_price*first_item_quantity/100
discount_2 =second_item_discount*second_item_price*second_item_quantity/100
discount_3 =third_item_discount*third_item_price*third_item_quantity/100
discount_4 =fourth_item_discount*fourth_item_price*fourth_item_quantity/100
total_discount=discount_1+discount_2+discount_3+discount_4
final_price = total_amount-total_discount
print("first item name:  ",first_item_name)
print("first item quantity:  ",first_item_quantity)
print("first item price:  ",first_item_price)
print("first item discount:  ",first_item_discount)
print("second item name:  ",second_item_name)
print("second item quantity:  ",second_item_quantity)
print("second item price:  ",second_item_price)
print("second item discount:  ",second_item_discount)
print("third item name:  ",third_item_name)
print("third item quantity:  ",third_item_quantity)
print("third item price:  ",third_item_price)
print("third item discount:  ",third_item_discount)
print("fourth item name:  ",fourth_item_name)
print("fourth item quantity:  ",fourth_item_quantity)
print("fourth item price:  ",fourth_item_price)
print("fourth_item_discount:  ",fourth_item_discount)
print("total amount:  ",total_amount)
print("total discount:  ",total_discount)
print("final price:  ",final_price)

# billing system #
enter first item name:  pizza
enter first item quantity:  10
enter first item price:  1000
enter first item discount:  20
enter second item name:  paasta
enter second item quantity:  5
enter second item price:  1000
enter second item discount:  10
enter third item name:  cold dring
enter third item quantity:  10
enter third item price:  20
enter third item discount:  10
enter fourth item name:  drink
enter fourth item quantity:  10
enter fourth item price:  2000
enter fourth item discount:  20
first item name:   pizza
first item quantity:   10
first item price:   1000
first item discount:   20
second item name:   paasta
second item quantity:   5
second item price:   1000
second item discount:   10
third item name:   cold dring
third item quantity:   10
third item price:   20
third item discount:   10
fourth item name:   drink
fourth item quantity:   10
fourth item price:   2000
fourth_item_discount:   20
total amount:   35200
total discount:   6520.0
final price:   28680.0

In [ ]:
# student grades #
student_name=input("enter student name:  ")
student_marks=int(input("enter student marks:  "))
if student_marks>=90:
 print("topper")
 print("Grade A")
elif student_marks>=50:
  print("average")
  print("Grade B")
else:
  print("fail")
  print("Grade C")

enter student name:  ashish kumar
enter student marks:  95
topper
Grade A

In [ ]:
age=int(input("enter age:  "))
if age>=50:
  print("elder")
elif age>=30:
  print("younger")
else:
  print("teenager")

enter age:  29
teenager

In [ ]:
gender=input("enter gender:  ")
age=int(input("enter age:  "))
if gender=="male":
  print("bilding A")
  if age>50:
   print("bilding A block A")
  elif age<50:
    print("bilding A block B")
elif gender=="female":
  print("bilding B")
  if age>=50:
    print("bilding B block A")
  elif age<50:
    print("bilding B block B")
else:
  print("other")

enter gendermale
enter age51
bilding A
bilding A block A

In [ ]:
for i in range (1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [ ]:
sum=1
for i in range(1,11):
  sum=sum*i
  print(sum)

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
sum=1
for i in range(1,11):
  sum=sum*i
print(sum)

3628800

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i*i
  print(sum)

1
5
14
30
55
91
140
204
285
385

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i*i
  print(sum)

1
5
14
30
55
91
140
204
285
385

In [ ]:
num=123456
sum = 0
while(num>0):
  dig = num%10
  sum= sum*10 +dig
  num= num//10
print (sum)

654321

In [52]:
sum_val = 0
for i in range(1, 7,2):
  current_fact = 1
  for j in range(1, i + 1):
    current_fact *= j
    if i % 2 == 0:
  sum_val += current_fact
  print(sum_val)

1
7
127

In [59]:
sum=0
for i in range(1,6,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
print(sum)

127

In [ ]:
sum=0
fact=1
for i in range (1,6):

In [ ]:
 price=int(input("enter price:  "))
interest_rate=int(input("enter interest rate:  "))
month_1=int(input("enter month:  "))
days=int(input("enter days:  "))
month=input("enter name of month:  ")
year=int(input("enter the year:  "))
if month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
elif month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
if year%4==0 and year%100!=0 or year%400==0:
  days_in_month=29
  print("it is a leap year ")
else:
  days_in_month=28
  print("it is not a leap year")
total_time=(days/days_in_month+month_1)
print("total time: ",total_time)
si=price*interest_rate*total_time/100
print(si)

enter price:  100000
enter interest rate:  5
enter month:  3
enter days:  15
enter name of month:  june
enter the year:  2023
it is not a leap year
total time:  3.5357142857142856
17678.571428571428

The Fibonacci sequence is a series of numbers where each number is the sum of the two preceding ones, usually starting with 0 and 1. We can generate this sequence using a `for` loop by keeping track of the previous two numbers in the sequence.

In [30]:
n_terms = int(input(""))

a, b = 0, 1

print("Fibonacci sequence:")
for _ in range(n_terms):
    print(a)
    nth = a + b
    a = b
    b = nth

1
Fibonacci sequence:
0

In [ ]:
sum=0
fact=1
for i in range (1,6):
  fact=fact*i
  if i%2==0:
   sum=sum+fact
print(sum)

In [53]:
sum=0
factorial=1
for i in range(1,6):
  factorial=factorial*i
  if i%2!=0:
    sum=sum+factorial
    print(sum)

1
7
127