<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/data_stucture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
a =(20,30,40,50)
print(a[0])

20

In [ ]:
#list
a =(20,30,40,50)
b=a[::-1]
print(b)

(50, 40, 30, 20)

In [ ]:
a=1,2,3,4,5
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a=1,2,3,4,5
sum=0
for i in a:
  sum=sum+i
  print(sum)

1
3
6
10
15

In [ ]:
a=[1,2,3,4]
sum=0
for i in a:
  print(i)
  sum=sum+i
print(f"the total sum is:",{sum})

1
2
3
4
the total sum is: {10}

In [ ]:
for i in range(0,10):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
item=[]
n=int(input("enter the number:  "))
for i in range(5):
  a=input("enter the name:  ")
  item.append(a)
print(item)

enter the number:  2
enter the name:  we
enter the name:  ee
enter the name:  ee
enter the name:  ee
enter the name:  eee
['we', 'ee', 'ee', 'ee', 'eee']

In [ ]:
#slicing
a=[1,2,30,50]
print(a[0])
print(a[0:5])

1
[1, 2, 30, 50]

In [ ]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a=[1,2,3,4,5]#for different element
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
#list
a=[1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
city=["chandigarh","delhi","banglore","chenai"]
print(city)

['chandigarh', 'delhi', 'banglore', 'chenai']

In [ ]:
for i in range(0,10):
  print("*"*i)
for i in range(10,0,-1):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [24]:
#list
n=2
item=[]
price=[]
total=0
for i in range(n):
  a=input("enter item name:  ")
  item.append(a)
  print(a)
  b=int(input("enter the item price:  "))
  price.append(b)
  print(b)
  total=total+b
  print("total price",total)

enter item name:  pizza
pizza
enter the item price:  200
200
total price 200
enter item name:  pasta
pasta
enter the item price:  300
300
total price 500