<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/def_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def speak ():
  print ("hello every one")
a= speak()

hello every one

In [ ]:
def add_num(a,b):
  return a+b
result= add_num(10,12)
print(result)

22

In [ ]:
def add_num(a,b):
  return a*b
result= add_num(10,12)
print(result)

120

In [ ]:
def add_num(a,b):
  return a+b
result= add_num(10,12)
result_2= add_num(12,10)
print(result)
print(result_2)

22
22

In [ ]:
def add_num(n):
  fact=1
  for i in range (1,n+1):
   fact=fact*i
  return fact
num_a=add_num(10)
num_b=add_num(12)
print(num_a)
print(num_b)

3628800
479001600

In [ ]:
def add_num (a,b,c):
  return a+b
a=add_num(22,34,32)
b=add_num(435,231,432)
c=add_num(34,245,234)
d=add_num(658,346,321)
print(a)
print(b)
print(c)
print(d)

56
666
279
1004

In [ ]:
def biodata(name,age,salary):
  print(name)
  print(age)
  print(salary)
a = biodata("ashish",17,1000000000000000)

ashish
17
1000000000000000

In [ ]:
def add (n):
  sum=0
  for i in range (1,n+1):
   sum=sum+i
  print(sum)
add(10)

55

In [ ]:
def add_num (n):
  first = 0
  second = 1
  print(first)
  print(second)
  for i in range (2,10):
    third = first + second
    first = second
    second = third
    print(second)
add_num (10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
def add_num(n):
  fact=1
  for i in range (1,n+1):
   fact=fact*i
  return fact
num_a=add_num(5)
num_b=add_num(2)
print(num_a)
print(num_b)

120
2

In [ ]:
def fact(n):
  sum=0
  factorial = 1
  for i in range (1,n+1):
    if(i%2!=0):
      factorial = factorial*i
    print(factorial)
  sum+=factorial
  print(factorial)
  print(sum)
fact(5)

1
1
3
3
15
15
15

In [51]:
def fact(n):
  sum = 0
  fact = 1
  for i in range(1,n+1,2):
      for y in range(1,i+1):
        fact = fact*y
        sum = sum+fact
        print(sum)
x=10
fact(x)

1
2
4
10
16
28
64
208
928
1648
3088
7408
24688
111088
629488
4258288
7887088
15144688
36917488
124008688
559464688
3172200688
21461352688
167774568688
1484593512688

In [54]:
def add_num(*ars):
  return sum(ars)
a=add_num(1,2,3,4)
b=add_num(2,3,4,5)
print(a)
print(b)

10
14

In [69]:
def add_num(*ars):
  sum=0
  for i in ars:
    sum=sum+i
  print(sum)
a= add_num(1,2,3,4,5,6)

21

In [76]:
def year():
  year=int(input("enter year  :"))
  if year%4==0 and year%100!=0 or year%400==0:
    days_in_month=29
    print("it is a leap year ")
  else:
    days_in_month=28
    print("it is not a leap year")
print(year)

<function year at 0x7af2f8140720>