<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/def_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def speak ():
  print ("hello every one")
a= speak()

hello every one

In [ ]:
def add_num(a,b):
  return a+b
result= add_num(10,12)
print(result)

22

In [ ]:
def add_num(a,b):
  return a*b
result= add_num(10,12)
print(result)

120

In [ ]:
def add_num(a,b):
  return a+b
result= add_num(10,12)
result_2= add_num(12,10)
print(result)
print(result_2)

22
22

In [ ]:
def add_num(n):
  fact=1
  for i in range (1,n+1):
   fact=fact*i
  return fact
num_a=add_num(10)
num_b=add_num(12)
print(num_a)
print(num_b)

3628800
479001600

In [1]:
def add_num (a,b,c):
  return a+b+c
a=add_num(22,34,32)
b=add_num(435,231,432)
c=add_num(34,245,234)
d=add_num(658,346,321)
print(a)
print(b)
print(c)
print(d)

88
1098
513
1325

In [ ]:
def biodata(name,age,salary):
  print(name)
  print(age)
  print(salary)
a = biodata("ashish",17,1000000000000000)

ashish
17
1000000000000000

In [ ]:
def add (n):
  sum=0
  for i in range (1,n+1):
   sum=sum+i
  print(sum)
add(10)

55

In [ ]:
def add_num (n):
  first = 0
  second = 1
  print(first)
  print(second)
  for i in range (2,10):
    third = first + second
    first = second
    second = third
    print(second)
add_num (10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
def add_num(n):
  fact=1
  for i in range (1,n+1):
   fact=fact*i
  return fact
num_a=add_num(5)
num_b=add_num(2)
print(num_a)
print(num_b)

120
2

In [ ]:
def fact(n):
  sum=0
  factorial = 1
  for i in range (1,n+1):
    if(i%2!=0):
      factorial = factorial*i
    print(factorial)
  sum+=factorial
  print(factorial)
  print(sum)
fact(5)

1
1
3
3
15
15
15

In [ ]:
def fact(n):
  sum = 0
  fact = 1
  for i in range(1,n+1,2):
      for y in range(1,i+1):
        fact = fact*y
        sum = sum+fact
        print(sum)
x=10
fact(x)

1
2
4
10
16
28
64
208
928
1648
3088
7408
24688
111088
629488
4258288
7887088
15144688
36917488
124008688
559464688
3172200688
21461352688
167774568688
1484593512688

In [ ]:
def add_num(*ars):
  return sum(ars)
a=add_num(1,2,3,4)
b=add_num(2,3,4,5)
print(a)
print(b)

10
14

In [ ]:
def add_num(*ars):
  sum=0
  for i in ars:
    sum=sum+i
  print(sum)
a= add_num(1,2,3,4,5,6)

21

In [ ]:
def year():
  year=int(input("enter year  :"))
  if year%4==0 and year%100!=0 or year%400==0:
    days_in_month=29
    print("it is a leap year ")
  else:
    days_in_month=28
    print("it is not a leap year")

In [ ]:
def add(**kwargs):
  print(kwargs)
add(a="ashish kumar",age=17,salary=2300)

{'a': 'ashish kumar', 'age': 17, 'salary': 2300}

In [ ]:
a=10
b=20
print(f"sum of {a} and {b}  : is  {a+b}")

sum of 10 and 20  : is  30

In [ ]:
def add_num(n):
  fact=1
  sum=0
  for i in range (1,n+1):
   fact=fact*i
  return fact+sum
num_a=add_num(5)
num_b=add_num(2)
print(num_a)
print(num_b)

120
2

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)
a=fact(5)
b=fact(2)
print(a)
print(b)

120
2

In [ ]:
a=lambda a,b:a+b
print(a(2,6))

8

In [ ]:
a=lambda a,b:a*b
print(a(2,6))

12

In [ ]:
def fact(n):
  sum=0
  factorial = 1
  for i in range (1,n+1):
    if(i%2!=0):
      factorial = factorial*i
    print(factorial)
  sum+=factorial
  print(factorial)
  print(sum)
fact(5)

1
1
3
3
15
15
15

In [ ]:
def fact(n):
  factorial=1
  sum=0
  for i in range (1,n+1):
    factorial=factorial*i
    if(i%2!=0):
     sum=sum+factorial
    print(sum)
fact(10)

1
1
7
7
127
127
5167
5167
368047
368047

In [ ]:
def fact(n):
  factorial=1
  sum=0
  for i in range (1,n+1):
    factorial=factorial*i
    if(i%4==2):
     sum=sum+factorial
  print(sum)
fact(8)

722

In [ ]:
num = 30
print(f"factor of {num}:")
for i in range(1,num+1):
  if(num%i==0):
    print(i)

factor of 30:
1
2
3
5
6
10
15
30

In [ ]:
def find_hef(a,b):
  while(b):
    a,b=b,a%b
  return a
num1=100
num2=300
hcf=find_hef(num1,num2)
print(hcf)

100

In [7]:
def find_lcm(a,b):
  lcm = (a*b)/find_hcf(a,b)
  return lcm
num1=10
num2=15
print(num1)
print(num2)

10
15

In [ ]:
a=10
b=15
if a>b:
  greatest = a
else:
  greatest = b
  for i in range(greatest,a*b+1):
   if i%a==0 and i%b==0:
    print(i)
    break

30

In [ ]:
a=30
b=40
if a>b:
  greatest = a
else:
  greatest = b
  for i in range(greatest,a*b+1):
   if i%a==0 and i%b==0:
    print(i)
    break
c=6*60+30
print("second in:",  c)
d=c/i
print("round meet:",  d)

120
second in: 390
round meet: 3.25

In [ ]:
speed=(1000/30)
print(speed)
speed2=(1000/40)
print(speed2)
average=speed+speed2/2
print(average)

33.333333333333336
25.0
45.833333333333336

In [5]:
#exception handling
try:
  a=10
  b=0
  a/b
except ZeroDivisionError:
  print("cannot divided by zero")
else:
  print("divided by zero")
finally:
  ("thanku")

cannot divided by zero

In [10]:
#string
name=("ashish")
name2=("  kumar")
print(name+ name2)

ashish  kumar

In [12]:
state ="punjab"
print(state[1])

u

In [15]:
state="punjab"
if "a" in state:
  print("aveleble")
else:
  print("not aveleble")

aveleble

In [16]:
state="punjanb"
for i in state:
  print(i)

p
u
n
j
a
n
b

In [19]:
state="   ashish    "
print(state.strip())

ashish

In [24]:
state="punjab"
print(state.startswith("pu"))
print(state.endswith("b"))

True
True

In [26]:
state="p u n j a b"
print(state.replace(" ",""))

punjab

In [27]:
state="punjab"
print(state.lower())
print(state.upper())

punjab
PUNJAB

In [29]:
state ="punjab"
print(state[0:4])

punj

In [32]:
state ="punjab"
print(state[0:4:3])

pj

In [35]:
state ="punjab"
print(state[0:4])
print(state[-2])
print(state[::-1])

punj
a
bajnup