<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/file_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#file handling
with open ("file 1.txt","w")as file:
  file.write("kunden")
with open ("file 2.txt","w")as file:
  file.write("kumar")
with open("file 1.txt","r")as file:
  data1=file.read()
  print(data1)
with open("file 2.txt","r")as file:
  data2=file.read()
  print(data2)
with open ("file 3.txt","w")as file:
  file.write(data1+"  "+data2)

kunden
kumar

In [ ]:
with open ("fileaks.txt","w")as file:
  file.write("ashish kumar\n")
  file.write("i am from bihar\n")
  file.write("i am in class 11th C\n")

In [ ]:
with open ("fileaks.txt","r")as file:
  d=file.read()
  print(d)
with open ("fileaks.txt","a")as file:
  file.write("heeeeeeee")

ashish kumar
i am from bihar
i am in class 11th C
heeeeeeee

In [11]:
import csv
Customer,Gender,State,Product,Amount=[],[],[],[],[]
with open ("sales.csv","r") as file:
  reader=csv.reader(file)
  header=next(reader)
  for i in reader:
    Customer.append(i[0])
    Gender.append(i[1])
    State.append(i[2])
    Product.append(i[3])
    Amount.append(i[4])
print(Customer)
print(Gender)
print(State)
print(Product)
print(Amount)

['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah', 'Ian', 'Jane', 'Kevin', 'Laura', 'Mike', 'Nina', 'Oscar', 'Paula', 'Quinn', 'Rita', 'Sam', 'Tina', 'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane', 'Liam', 'Mia', 'Noah', 'Olivia', 'Peter', 'Sophia', 'James', 'Ava', 'Henry', 'Emily', 'Daniel', 'Grace', 'Jacob', 'Ella', 'Lucas', 'Amelia', 'Mason', 'Harper', 'Logan', 'Evelyn', 'Ethan', 'Abigail', 'Elijah', 'Charlotte']
['F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F']
['California', 'Texas', 'California', 'New York', 'Texas', 'Florida', 'California', 'Texas', 'Florida', 'New York', 'New York', 'California', 'Florida', 'California', 'California', 'Texas', 'Florida', 'New York', 'New York', 'California', 'Illinois', 'Illinois', 'Texas', 'Florida', 'Illinois', 'Florida', 'Florida', 'California', 'Illinois', 'New York', 'Florida', 'Illinois', 'Texas', 'Florida', 'Illinois', 'Illinois', 'Florida', 'New York', 'Illinois', 'Illinois', 'Texas', 'New York', 'Florida', 'California', 'California', 'Florida', 'Texas', 'New York', 'Illinois', 'California']
['Laptop', 'Phone', 'Tablet', 'Laptop', 'Headphones', 'Phone', 'Phone', 'Tablet', 'Laptop', 'Headphones', 'Laptop', 'Tablet', 'Headphones', 'Laptop', 'Tablet', 'Headphones', 'Phone', 'Tablet', 'Laptop', 'Tablet', 'Phone', 'Headphones', 'Tablet', 'Headphones', 'Laptop', 'Phone', 'Laptop', 'Tablet', 'Headphones', 'Phone', 'Tablet', 'Tablet', 'Headphones', 'Phone', 'Tablet', 'Laptop', 'Laptop', 'Laptop', 'Headphones', 'Phone', 'Laptop', 'Headphones', 'Tablet', 'Tablet', 'Headphones', 'Tablet', 'Laptop', 'Headphones', 'Headphones', 'Phone']
['1200', '800', '450', '1300', '200', '850', '750', '500', '1400', '220', '976', '1186', '315', '1445', '560', '1998', '526', '1134', '412', '1901', '1925', '697', '673', '991', '1173', '1773', '659', '1745', '1070', '1361', '1424', '219', '1650', '1818', '904', '1196', '983', '1573', '603', '1425', '331', '1614', '1514', '687', '684', '1434', '664', '1419', '1508', '1623']