<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/tapal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=()
for i in range(5):
  c=input(f"enter {i+1} element of list  :")
  b=list(a)
  b.append(c)
  a=tuple(b)
print(b)

enter 1 element of list  :ashish
enter 2 element of list  :mayank
enter 3 element of list  :kishor
enter 4 element of list  :ag
enter 5 element of list  :pg
['ashish', 'mayank', 'kishor', 'ag', 'pg']

In [ ]:
#disneries
a={
    "name":"prince",
  "age" : 24,
  "gender":"male"
}
print(a["age"])

24

In [ ]:
a={
    "name":"prince",
  "age" : 24,
  "gender":"male"
}
for key,value in a. items():
  print(key,":",value)

name : prince
age : 24
gender : male

In [ ]:
item={
    "pizza" : 300,
    "burger" :400,
    "pasta" : 500,
    "cold drink" : 100,
    "momos"  : 100
}
for key,value in item. items():
  print(key,":",value)

pizza : 300
burger : 400
pasta : 500
cold drink : 100
momos : 100

In [ ]:
item={
    "pizza" : 300,
    "burger" :400,
    "pasta" : 500,
    "cold drink" : 100,
    "momos"  : 100
}
print(item)

{'pizza': 300, 'burger': 400, 'pasta': 500, 'cold drink': 100, 'momos': 100}

In [ ]:
sum=0
item={
    "pizza" : 300,
    "burger" :400,
    "pasta" : 500,
    "cold drink" : 100,
    "momos"  : 100
}
for value in item. values():
  sum=sum+value
print(sum)

1400

In [5]:
with open("file.txt","w")as file:
  file.write("hi, i am ashish\n")
  file.write("my age 16\n")
  file.write("i live in chandigarh\n")

In [8]:
with open("file.txt","r")as file:
  d=file.read()
  print(d)
with open("file.txt","w")as file:
  file.write("feeeeeeeeee")

In [ ]:
with open("file.txt","r")as file:
  d=file.readline()
  print(d)

hi, i am ashish

In [ ]:
with open("file.txt","r")as file:
  d=file.readlines()
  print(d)
for i in d:
  print(i)

['hi, i am ashish\n', 'my age 16\n', 'i live in chandigarh\n']
hi, i am ashish

my age 16

i live in chandigarh