<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
days=input("enter day")
if days =="sunday" or days == "saturday":
   print("weekend")
else:
  print("non weekend")

enter daymonday
non weekend

In [7]:
sum_odd = 0
for i in range(1, 17, 2):
  sum_odd = sum_odd + i
  print(sum_odd)

1
4
9
16
25
36
49
64

In [ ]:
person_age=int(input("enter person age"))
if person_age>=60:
  print("elder")
elif person_age<=30:
  print("younger")
else:
  print("teenager")

enter person age27
younger

In [ ]:
first_boy_marks=int(input("enter first boy marks"))
if first_boy_marks>=90:
  print("topper")
elif first_boy_marks>=30:
  print("average")
else:
  print("fail")

enter first boy marks48
average

In [ ]:
gender=input("enter gender")
age=int(input("enter age"))
if gender=="male":
  print("bilding A")
  if age<=30:
   print("bilding A block A")
  elif age>30:
   print("bilding A block B")
elif gender=="female":
  print("blobk B")
  if age<=30:
   print("bilding B")
  elif age>30:
   print("binding B block B")
else:
  print("other")

enter genderfemale
enter age32
blobk B
binding B block B

In [ ]:
for i in range(1,101):
  print(i)

In [ ]:
sum=0
for i in range(1,101):
  sum=sum+i
print(sum)

5050

In [ ]:
price=int(input("enter price"))
interest_rate=int(input("enter enterest rate"))
month=int(input("enter month"))
days=int(input("enter days"))
total=month+days
si=price*interest_rate*total/100
print(si)

enter price1000
enter enterest rate5
enter month3
enter days20
1150.0

In [ ]:
price=int(input("enter price:  "))
interest_rate=int(input("enter interest rate:  "))
month_1=int(input("enter month:  "))
days=int(input("enter days:  "))
month=input("enter name of month  :")
if month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
elif month=="february":
  days_in_month=28
else:
  days_in_month=31
total_time=(days/days_in_month+month_1)
print("total time: ",total_time)
si=price*interest_rate*total_time/100
print(si)

enter price:  1000
enter interest rate:  5
enter month:  3
enter days:  15
enter name of monthjune
total time:  3.5
175.0

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact*i
print(fact)

120

In [ ]:
fact = 1
for i in range(1,10):
  fact = fact*i
print(fact)

362880

In [ ]:
fact = 1
for i in range(1,8):
  fact=fact*i
print(fact)

5040

In [ ]:

price=int(input("enter price:  "))
interest_rate=int(input("enter interest rate:  "))
month_1=int(input("enter month:  "))
days=int(input("enter days:  "))
month=input("enter name of month  :")
year=int(input("enter the year  :"))
if month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
elif month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
if year%4==0 and year%100!=0 or year%400==0:
  days_in_month=29
  print("it is a leap year ")
else:
  days_in_month=28
  print("it is not a leap year")
total_time=(days/days_in_month+month_1)
print("total time: ",total_time)
si=price*interest_rate*total_time/100
print(si)

enter price:  1000
enter interest rate:  5
enter month:  3
enter days:  15
enter name of month  :april
enter the year  :2023
it is not a leap year
total time:  3.5357142857142856
176.78571428571428

In [ ]:
year=int(input("enter year  :"))
if year%4==0 and year%100!=0 or year%400==0:
  days_in_month=29
  print("it is a leap year ")
else:
  days_in_month=28
  print("it is not a leap year")

enter year  :2400
it is a leap year

In [1]:
sum_even = 0
for i in range(1, 101):
  if i % 2 == 0:
    sum_even = sum_even + i
print(sum_even)

2550

In [2]:
sum_even = 0
for i in range(2, 17, 2):
  sum_even = sum_even + i
print(sum_even)

72

In [9]:
sum_odd = 0
for i in range(1, 101, 2):
  sum_odd = sum_odd + i
  print(f"The sum of odd numbers from 1 to 100 is: {sum_odd}")

The sum of odd numbers from 1 to 100 is: 1
The sum of odd numbers from 1 to 100 is: 4
The sum of odd numbers from 1 to 100 is: 9
The sum of odd numbers from 1 to 100 is: 16
The sum of odd numbers from 1 to 100 is: 25
The sum of odd numbers from 1 to 100 is: 36
The sum of odd numbers from 1 to 100 is: 49
The sum of odd numbers from 1 to 100 is: 64
The sum of odd numbers from 1 to 100 is: 81
The sum of odd numbers from 1 to 100 is: 100
The sum of odd numbers from 1 to 100 is: 121
The sum of odd numbers from 1 to 100 is: 144
The sum of odd numbers from 1 to 100 is: 169
The sum of odd numbers from 1 to 100 is: 196
The sum of odd numbers from 1 to 100 is: 225
The sum of odd numbers from 1 to 100 is: 256
The sum of odd numbers from 1 to 100 is: 289
The sum of odd numbers from 1 to 100 is: 324
The sum of odd numbers from 1 to 100 is: 361
The sum of odd numbers from 1 to 100 is: 400
The sum of odd numbers from 1 to 100 is: 441
The sum of odd numbers from 1 to 100 is: 484
The sum of odd numbers from 1 to 100 is: 529
The sum of odd numbers from 1 to 100 is: 576
The sum of odd numbers from 1 to 100 is: 625
The sum of odd numbers from 1 to 100 is: 676
The sum of odd numbers from 1 to 100 is: 729
The sum of odd numbers from 1 to 100 is: 784
The sum of odd numbers from 1 to 100 is: 841
The sum of odd numbers from 1 to 100 is: 900
The sum of odd numbers from 1 to 100 is: 961
The sum of odd numbers from 1 to 100 is: 1024
The sum of odd numbers from 1 to 100 is: 1089
The sum of odd numbers from 1 to 100 is: 1156
The sum of odd numbers from 1 to 100 is: 1225
The sum of odd numbers from 1 to 100 is: 1296
The sum of odd numbers from 1 to 100 is: 1369
The sum of odd numbers from 1 to 100 is: 1444
The sum of odd numbers from 1 to 100 is: 1521
The sum of odd numbers from 1 to 100 is: 1600
The sum of odd numbers from 1 to 100 is: 1681
The sum of odd numbers from 1 to 100 is: 1764
The sum of odd numbers from 1 to 100 is: 1849
The sum of odd numbers from 1 to 100 is: 1936
The sum of odd numbers from 1 to 100 is: 2025
The sum of odd numbers from 1 to 100 is: 2116
The sum of odd numbers from 1 to 100 is: 2209
The sum of odd numbers from 1 to 100 is: 2304
The sum of odd numbers from 1 to 100 is: 2401
The sum of odd numbers from 1 to 100 is: 2500