<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
days=input("enter day")
if days =="sunday" or days == "saturday":
   print("weekend")
else:
  print("non weekend")

In [ ]:
person_age=int(input("enter person age"))
if person_age>=60:
  print("elder")
elif person_age<=30:
  print("younger")
else:
  print("teenager")

enter person age27
younger

In [ ]:
first_boy_marks=int(input("enter first boy marks"))
if first_boy_marks>=90:
  print("topper")
elif first_boy_marks>=30:
  print("average")
else:
  print("fail")

enter first boy marks48
average

In [ ]:
gender=input("enter gender")
age=int(input("enter age"))
if gender=="male":
  print("bilding A")
  if age<=30:
   print("bilding A block A")
  elif age>30:
   print("bilding A block B")
elif gender=="female":
  print("blobk B")
  if age<=30:
   print("bilding B")
  elif age>30:
   print("binding B block B")
else:
  print("other")

enter genderfemale
enter age32
blobk B
binding B block B

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
sum=0
for i in range(1,101):
  sum=sum+i
print(sum)

5050

In [ ]:
price=int(input("enter price"))
interest_rate=int(input("enter enterest rate"))
month=int(input("enter month"))
days=int(input("enter days"))
total=month+days
si=price*interest_rate*total/100
print(si)

enter price1000
enter enterest rate5
enter month3
enter days20
1150.0

In [ ]:
price=int(input("enter price:  "))
interest_rate=int(input("enter interest rate:  "))
month_1=int(input("enter month:  "))
days=int(input("enter days:  "))
month=input("enter name of month  :")
if month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
elif month=="february":
  days_in_month=28
else:
  days_in_month=31
total_time=(days/days_in_month+month_1)
print("total time: ",total_time)
si=price*interest_rate*total_time/100
print(si)

enter price:  1000
enter interest rate:  5
enter month:  3
enter days:  15
enter name of monthjune
total time:  3.5
175.0

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact*i
print(fact)

120

In [ ]:
fact = 1
for i in range(1,10):
  fact = fact*i
print(fact)

362880

In [ ]:
fact = 1
for i in range(1,8):
  fact=fact*i
print(fact)

5040

In [ ]:

price=int(input("enter price:  "))
interest_rate=int(input("enter interest rate:  "))
month_1=int(input("enter month:  "))
days=int(input("enter days:  "))
month=input("enter name of month  :")
year=int(input("enter the year  :"))
if month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
elif month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
if year%4==0 and year%100!=0 or year%400==0:
  days_in_month=29
  print("it is a leap year ")
else:
  days_in_month=28
  print("it is not a leap year")
total_time=(days/days_in_month+month_1)
print("total time: ",total_time)
si=price*interest_rate*total_time/100
print(si)

enter price:  1000
enter interest rate:  5
enter month:  3
enter days:  15
enter name of month  :april
enter the year  :2023
it is not a leap year
total time:  3.5357142857142856
176.78571428571428

In [ ]:
year=int(input("enter year  :"))
if year%4==0 and year%100!=0 or year%400==0:
  days_in_month=29
  print("it is a leap year ")
else:
  days_in_month=28
  print("it is not a leap year")

enter year  :2400
it is a leap year