<a href="https://colab.research.google.com/github/gashishkumar2201-collab/Python-class/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
days=input("enter day")
if days =="sunday" or days == "saturday":
   print("weekend")
else:
  print("non weekend")

In [13]:
person_age=int(input("enter person age"))
if person_age>=60:
  print("elder")
elif person_age<=30:
  print("younger")
else:
  print("teenager")

enter person age27
younger

In [17]:
first_boy_marks=int(input("enter first boy marks"))
if first_boy_marks>=90:
  print("topper")
elif first_boy_marks>=30:
  print("average")
else:
  print("fail")

enter first boy marks48
average

In [23]:
gender=input("enter gender")
age=int(input("enter age"))
if gender=="male":
  print("bilding A")
  if age<=30:
   print("bilding A block A")
  elif age>30:
   print("bilding A block B")
elif gender=="female":
  print("blobk B")
  if age<=30:
   print("bilding B")
  elif age>30:
   print("binding B block B")
else:
  print("other")

enter genderfemale
enter age32
blobk B
binding B block B

In [7]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
price=int(input("enter price"))
interest_rate=int(input("enter enterest rate"))
month=int(input("enter month"))
days=int(input("enter days"))
total=month+days
si=price*interest_rate*total/100
print(si)

enter price1000
enter enterest rate5
enter month3
enter days20
1150.0

In [4]:
price=int(input("enter price:  "))
interest_rate=int(input("enter interest rate:  "))
month=int(input("enter month:  "))
days=int(input("enter days:  "))
if month==30:
 total_time=(month*30+days)

print("total time: ",total_time)
si=price*interest_rate*total_time/100
print(si)

enter price:  1000
enter interest rate:  5
enter month:  3
enter days:  15
total time:  105
5250.0

railway ticket sold